[mysqld]
# Options for mysqld process:
ndbcluster                      # run NDB storage engine
bind-address = 192.168.33.11    # Listen address   
#bind-address = 192.168.33.12    # Listen address   

[mysql_cluster]
# Options for NDB Cluster processes:
ndb-connectstring=192.168.33.11  # location of management server